# Loops

In [1]:
#while loops
n=3
i=1
while(i<=n):
    print('loop is easy')
    i+=1

loop is easy
loop is easy
loop is easy

In [ ]:
#infinite loop. Don't run this program because it will keep running till infinity and might crash your system.
i=1
while(i<=5):
    print('i am a loop')
    i=1-1

In [2]:
i=1
sum=0
while(i<=10):
    sum=sum+i
    i=i+1
print('The sum is: ',sum)

The sum is:  55

In [2]:
i=1
while i<=4:
    print('loop is fun')
    i+=1
else:
    print('i am done looping')

loop is fun
loop is fun
loop is fun
loop is fun
i am done looping

In [4]:
#multiplication table loop
n=14
i=1
while(i<=12):
    print(n,'x',i,'=',n*i)
    i+=1

14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140
14 x 11 = 154
14 x 12 = 168

# FOR LOOPS

In [7]:
#FOR LOOPS: They are loop used to iterate through a sequence.
#3 Types of For loops 
#STRING: A string is a sequence of character.
#LIST: They are sequence of items seperated by commas inside the square bracket
#RANGE: They are used to create a sequence of numbers

#for loops
#strings
text="This"
for item in text:
    print(item)

T
h
i
s

In [8]:
# list
club=['mau_U', 'liverpool','chelsea']
for x in club:
    print(x)

mau_U
liverpool
chelsea

In [9]:
#RANGE
numbers=range(1,11)
sum=0
for x in numbers:
    sum=sum+x
print('sum =',sum)

sum = 55

In [11]:
#else in for loop
club=['mau_U', 'liverpool','chelsea']
for x in club:
    print(x)
else:
    print('i am not interested in football')

mau_U
liverpool
chelsea
i am not interested in football