In [4]:
#strings
text='Man'
for x in text:
    print(x)

M
a
n

In [5]:
#list
club=['Man_U','chelsea','liverpool']
for x in club:
    print(x)

Man_U
chelsea
liverpool

In [7]:
numbers=range(1,11)
sum=0
for x in numbers:
    sum=sum+x
print('sum =',sum)

sum = 55

In [1]:
num1=50
num2=350
sum=num1+num2
print(sum)

400

In [2]:
num1=int(input("Enter first number"))
num2=int(input("Enter second number"))
sum=num1+num2
print("The sum is: ",sum)

Enter first number 200
Enter second number 800

The sum is:  1000

In [3]:
#python program to multiply two number
num1=18
num2=10
multiply=num1*num2+100
print("product result = ",multiply)

product result =  280