# pandas

In [1]:
import pandas as pd

In [2]:
#pandas are python libraries used to analize and clean data.
#There (2) types of pandas
#1.Series
#2.Dataframe
#SERIES in python pandas are one dimensional array used to store data sets in pandas. Pandas series must be in capital letter for it to run.

In [3]:
#series
#creating a series from a list
my_num=[1,2,3,4]
my_series=pd.Series(my_num)
print(my_series)

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
#changing the index of a series
my_series=pd.Series([1,2,3,4],index=['w','x','y','z'])
my_series

w    1
x    2
y    3
z    4
dtype: int64

In [5]:
#calling a value from series
print(my_series['y'])

3

In [6]:
#creating a series from dictionary
dict={'colour1':'black','colour2':'green','colour3':'blue','colour4':'yellow'}
s_dict=pd.Series(dict)
s_dict

colour1     black
colour2     green
colour3      blue
colour4    yellow
dtype: object

In [7]:
#calling your series from a dictonary
s_dict['colour3']

'blue'

In [8]:
#DATAFRAMES are multi_dimensional arrays used to store data in pandas. They can tablate datas.
dataframe=pd.DataFrame({'cars':['toyota','benz','mustang','lexus','danfo'],'colours':['grey','black','dark_blue','dirty_black','yellow']})
dataframe

      cars      colours
0   toyota         grey
1     benz        black
2  mustang    dark_blue
3    lexus  dirty_black
4    danfo       yellow

In [9]:
#creating a dataframe from multiple series
series1=pd.Series(['Austine','Richard','Femi','Tobey'])
series2=pd.Series(['Happy','Not_moody','Absent','sad'])
frame=pd.DataFrame({'Names':series1,'Mood':series2})
frame

     Names       Mood
0  Austine      Happy
1  Richard  Not_moody
2     Femi     Absent
3    Tobey        sad

In [10]:
#exporting your dataframe as csv
frame.to_csv('frame.csv')

In [11]:
#importing a dataset/file/dataframe in csv format
inside=pd.read_csv('sales.csv')
inside

,Year,Product,line,Product.1,type,Product.2,Order,method,type.1,Retailer,country,Revenue
0,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,United,States,315044.33
1,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Canada,NaN,14313.48
2,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Mexico,NaN,156644.47
3,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,venezuela,NaN,59191.72
4,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Japan,NaN,7029.33
...,...,...,...,...,...,...,...,...,...,...,...,...
95,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Mail,Finland,NaN,6615.84
96,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Mail,Denmark,NaN,52613.47
97,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Mail,France,NaN,41912.85
98,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Mail,Germany,NaN,59479.91
99,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Mail,United,Kingdom,156324.28